# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
env*/
.env*/
dbt_env/
dist/
*.egg-info
logs/


# Unit test
.tox/
test.env


# Django stuff
*.log

# Mypy
*.pytest_cache/

# Vim
*.sw*

# Pyenv
.python-version
dbt-env/
dbt-insightfabric/
#test

# pycharm
.idea/

# MacOS
.DS_Store




# other
.hive-metastore/
.spark-warehouse/
dbt-integration-tests
*/target/*
/site
/samples_tests
dbt_AmrDev/.gitignore
dbt_AmrDev/dbt_project.yml
dbt_AmrDev/analyses/.gitkeep
dbt_AmrDev/macros/.gitkeep
dbt_AmrDev/metaextracts/DescribeRelations.json
dbt_AmrDev/metaextracts/ListRelations.json
dbt_AmrDev/metaextracts/ListSchemas.json
dbt_AmrDev/metaextracts/MetaHashes.json
dbt_AmrDev/models/example/my_first_dbt_model.sql
dbt_AmrDev/models/example/my_second_dbt_model.sql
dbt_AmrDev/models/example/schema.yml
dbt_AmrDev/seeds/.gitkeep
dbt_AmrDev/snapshots/.gitkeep
dbt_AmrDev/tests/.gitkeep
dbt_AmrDev/README.md
