sqlparse>=0.4.2 
dbt-fabricspark
nbformat
types-PyYAML
types-python-dateutil
msfabricpysdkcore
sqlparams>=3.0.0
azure-identity>=1.13.0
azure-core>=1.26.4
requests==2.31.0
typer>=0.12
azure-storage-file-datalake
setuptools>=72.1.0