[data-md-color-scheme="insight"] {
      --md-primary-fg-color: hsla(var(--md-hue),0%,100%,1);
      --md-primary-fg-color--light: hsla(var(--md-hue),0%,100%,0.7);
      --md-primary-fg-color--dark: hsla(var(--md-hue),0%,0%,0.07);
      --md-primary-bg-color: hsla(var(--md-hue),0%,0%,0.87);
      --md-primary-bg-color--light: hsla(var(--md-hue),0%,0%,0.54);
      --md-typeset-a-color: #4F93D9;
      --md-default-fg-color--light: #582873;

      --md-accent-fg-color: #B01C87;
      --md-accent-fg-color--transparent: #57B5E6;
      --md-accent-bg-color: #fff;
      --md-accent-bg-color--light: #ffffffb3

      .md-button {
        color: var(--md-typeset-a-color)
      }
      
      .md-button--primary {
        background-color: var(--md-typeset-a-color);
        border-color: var(--md-typeset-a-color);
        color: hsla(var(--md-hue),0%,100%,1)
      }
      
      @media screen and (min-width: 60em) {
        .md-search__form {
            background-color:hsla(var(--md-hue),0%,0%,.07)
        }

        .md-search__form:hover {
            background-color: hsla(var(--md-hue),0%,0%,.32)
        }

        .md-search__input+.md-search__icon {
            color: hsla(var(--md-hue),0%,0%,.87)
        }
      }


      @media screen and (min-width: 76.25em) {
        .md-tabs {
            border-bottom:.05rem solid #00000012
        }
      }

}
